.container-fluid {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 15px;
}

.profile-icon {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    -webkit-mask-size: cover;
    mask-size: cover;
    object-fit: cover;
    transition: 0.2s ease-in-out;
}

.profile-icon:hover {
    transform: scale(1.2);
}

.header {
    position: relative;
}

.burger-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
    margin-right: 15px;
}

.overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vw;
    background: linear-gradient(to bottom left, #0800A7 0%, #EC7EEA 91%);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    border-radius: 0;
    animation: pop-up 1s forwards;
}

.overlay-content {
    text-align: center;
}

.overlay-content a {
    display: block;
    font-size: 15px;
    color: rgb(222, 222, 222);
    text-decoration: none;
    margin: 20px 0;
    transition: .3s ease-in-out;
}

.overlay-content a:hover {
    color: white;
    transform: scale(1.2);
}

.authorization-block {
    display: flex;
    gap: 5px;
}


@keyframes pop-up {
    0% {
        transform: translate(-50%, -50%) scale(0);
        border-radius: 50%;
    }

    100% {
        transform: translate(-50%, -50%) scale(2.5);
        border-radius: 50%;
        font-size: 10px;
    }
}

@media (max-width: 515px) {
    .burger-icon {
        display: block;
    }

    .authorization-block {
        display: none;
    }

    .navbar-brand {
        font-size: 1rem;
    }

    .profile-icon {
        width: 30px;
        height: 30px;
    }

    .overlay-content a {
        font-size: 14px;
    }
}