/* General Layout */
body {
    min-height: 100vh;
    margin: 0 auto;
}

.section {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.user-post-container {
    display: flex;
    flex-direction: column;
}

.user-card-container {
    margin: 50px 0px;
}

.user-info-container {
    flex-direction: column;
}