body {
    margin: 0 auto;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
}

.header-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #007bff;
    color: white;
}

input[type="text"] {
    padding: 5px;
    margin-right: 20px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.gradient {
    background: #0800A7;
    background: linear-gradient(to bottom left, #0800A7 0%, #EC7EEA 91%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.gradient-button {
    padding: 10px 20px;
    border: 2px solid transparent;
    border-image: linear-gradient(to bottom left, #0800A7, #EC7EEA) 1;
    background-color: transparent;
    color: #0800A7;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 300;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
    display: inline-block;
}

.gradient-button:hover {
    background: linear-gradient(to bottom left, #0800A7, #EC7EEA);
    color: white;
    border-color: transparent;
}

.hljs {
    background-color: #dedede !important;
    border-radius: 5px;
}